*{
  margin:0;
  padding: 0;
  font-family: Century Gothic;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://i.ibb.co/TMCNDwm/black-and-white-board-boardroom-business-260689.jpg');
    height: 150vh;
    background-size: cover;
    background-position: center;
}

.title{
  position: absolute;
  top:15%;
  left:50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size:70px;
  position: center;
}

.video {
  position: absolute;
  top:80%;
  left:50%;
  transform: translate(-50%,-50%);
}

.logo img{
  float: left;
  width:300px;
  height: auto;
}
